@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

$primary-orange-color: #F2AA4CFF;
$primary-blue-color: #101820FF;
$dark-grey-color: rgba(44, 50, 56, 0.65);
$primary-font-color: #D6D6D6;

$container-width: 70%;
$horizontal-padding: 2.5em;

$font-family: "Roboto", sans-serif
